CHASE_SCRIPT_URL=
ANTHROPIC_API_KEY=
WEAVIATE_URL=http://100.67.120.6:8080
OLLAMA_URL=http://100.67.120.6:11434
N8N_BASE_URL=http://100.81.70.117:5678
GOOGLE_APPS_SCRIPT_SMS_URL=
MEGA_DASHBOARD_URL=http://100.67.120.6:8300
